@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Rajdhani&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #161616;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.active{
    background-color: #7d5e3a !important;
}

.gradiente{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8324579831932774) 0%, rgba(0, 0, 0, 0.6055672268907564) 28%, rgba(0, 0, 0, 0) 54%);
}