<div class="container">
    <h1 class="container__title">Products Admin</h1>
    <form id="set_form" class="form_container" method="POST">
        <h2 class="form_title">Add Product</h2>
        <div class="form_group">
            <div>
                <label>
                    <p class="label">Product Title:</p>
                    <input type="text" placeholder="product title">
                </label>
            </div>
            <div>
                <label>
                    <p class="label">Product Description:</p>
                    <input type="text" placeholder="product description">
                </label>
            </div>
        </div>
        <div class="form_group">
            <div>
                <label>
                    <p class="label">Product Price:</p>
                    <input type="number" placeholder="product price">
                </label>
            </div>
            <div>
                <label>
                    <p class="label">Product image:</p>
                    <input type="file">
                </label>
            </div>
        </div>
        <div class="form_group">
            <div>
                <label>
                    <p class="label">Product Stock:</p>
                    <input type="number" placeholder="product stock">
                </label>
            </div>
            <div>
                <label>
                    <p class="label">Product Code:</p>
                    <input type="text" placeholder="product code">
                </label>
            </div>
        </div>
        <div class="form_group">
            <div>
                <label>
                    <p class="label">Product Status:</p>
                    <select class="select">
                        <option value="true">true</option>
                        <option value="false">false</option>
                    </select>
                </label>
            </div>
            <div>
                <button type="submit" class="btn_set">SET PRODUCT</button>
            </div>
        </div>
    </form>
</div>